body {
    font-size: 18px !important;
}

a {
    font-size: 16px !important;
}

code {
    font-size: 18px !important;
    width: fit-content !important;
}

/*select div with classes container-fluid wm-page-content*/
div.container-fluid.wm-page-content {
    max-width: 70% !important;
}